<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <object name="MyMovieLister" type="MovieFinder.Implements.MovieLister, MovieFinder">
        <!--<property name="movieFinder" ref="MyMovieFinder"/>-->
         <constructor-arg index="0" ref="MyMovieFinder"/>
      </object>
      <object name="MyMovieFinder"  type="MovieFinder.Implements.MovieFinder, MovieFinder">
        <constructor-arg index="0" value="hh"/>

      </object>     
    </objects>
  </spring>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spring.Core" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.45000" newVersion="2.0.1.45000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>